body{
  background-color: #0D110D;
}
.container{
  width: 1000px;
  height: auto;
}
.intercontainer{
  margin: auto;
  margin: auto;
  background-color: rgba(120, 115, 115, 0.55);
  border-radius: 20px;
  padding: 20px;
  }
#total{
  width: 98px;
  height: 25px;
  background-color: #9595A2;
  border-radius: 9px;
  text-align: center;
  margin-bottom: 15px;
}
.ini{
  text-align: center;
}
